body{
    background-color: whitesmoke;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;

    box-shadow:0 2px whitesmoke;
    height: 100%;
   
    border : 1px solid palevioletred;
    background-color: pink;
    border-radius: 40%;

    width : 100%;

}

.nav-items > ul{
    list-style-type: none ;
    display: flex;
    padding-top: 9px;
    padding-right: 50px;
    justify-content: space-around;
    margin-right: 20px;
    border-radius: 30px;
    background-color: white;
    margin-right: 80px;
    border: 2px solid palevioletred;
    align-items: center;
    height: 25px;
}


.nav-items > ul > li {

    display: flex;
    padding: 10px;
   align-items: center;
    margin-bottom: 5px;
 
   
  
    

}

.logo{
  height: 100px;
  width : 100px;
  border-radius: 50%;
  border : 2px dashed black;
  margin-left: 50px ;
}

.card{
    width: 300px;
    margin-left: 30px;
    border: 2px solid pink;
    line-height: 5px;
    border-radius: 10%;
    padding: 20px;

}

.card > img{
    height: 200px;
    width : 100%;

    border-radius: 10%;

}

.restaurant-list{
display: flex;
flex-wrap : wrap;
}


.search-input{
   width : 225px;
  margin-left : 40%;
  margin-top: 25px;
  margin-bottom: 25px;
    border: 2px solid palevioletred;
    height: 25px;
    
    background-color: pink;

    border-radius: 15px;    


}



